body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#app {
  width: 100vw;
  height: 100vh;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  padding-bottom: 2em;
  font-family: 'Exo 2', sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-panel {
  color: #e3d0c2;
  background-color: rgba(63, 45, 31, 0.6);
  border-radius: 5px;
}

.sub-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #19120c;
  background-color: rgba(197, 141, 92, 0.7);
  border-radius: 5px;
}

#logo {
  padding-top: 1em;
}

#welcome {
  background-image: url("/parchment.png");
  background-repeat: no-repeat;
  background-size: 45em 100%;
  width: 45em;
  height: 40em;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .port-sounds {
  margin-bottom: 0px;
} */

/* PORT */
#port {
  padding: 2em;
  width: 75vw;
}

#crew-list {
  display: flex;
  flex-wrap: wrap;
}

#room-link {
  width: 20em;
  height: 7em;
  padding: 0.5em;
  margin: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
  transition: 0.3s;
}

#room-link:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 0px 1px lightgrey;
}

/* GAME ROOM */
#game {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ship-name {
  margin-bottom: 0.25em;
  font-size: 3em;
  align-self: center;
}

#game-area {
  display: flex;
  padding: 0 1.5em;
  padding-bottom: 1.5em;
}

#self-video-div {
  display: flex;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  position: relative;
  justify-content: center;
}

video {
  border: solid 5px black;
  background-color: black;
  border-radius: 5px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

#bottom-panel {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  justify-content: space-between;
}

/* WIDGETS */
.widget {
  width: 100px;
  background-color: white;
  transform: scaleX(-1);
  border: solid 2px black;
}

.widget-img {
  width: 100px;
  height: 100%;
}

#widgets-div {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.hide {
  visibility: hidden;
}

/* COMMANDS */

#commands {
  position: absolute;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

#commandParagraph {
  color: #c27e18;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 3.5em;
  font-weight: bold;
  opacity: 1;
}

#commandParagraph.fade {
  font-size: 2.5em;
  opacity: 0.5;
  transition: all 3.5s ease-in;
}


