#app {
  height: 100%;
  margin: 0;
  width: 100%;
}

form {
  max-width: 50%;
  min-width: 50%;
}

nav {
  height: 80px;
}

nav a {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  color: rgb(82, 103, 225);
}

nav a::after {
  background-color: rgb(82, 103, 225);
  content: '';
  display: block;
  height: 2px;
  transition: width 0.3s;
  width: 0;
}

nav a:hover::after {
  width: 100%;
}

nav a:first-child:hover::after {
  width: 0;
}

#logo {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

#self-video-div {
  position: relative;
}

canvas {
  border: solid 2px red;
}

#canvas-source {
  position: absolute;
  top: 0;
  left: 0;
}

#self-video-div {
  height: 480px;
  width: 640px;
}
